<div class="container">
  <h1>Words Study</h1>
  <div class="btn-wrapper">
    <a href="/move/study_menu" class="btn waves-effect waves-light btn-large"><i class="material-icons left">check</i>Let's study now!</a>
  </div>
  <div class="btn-wrapper">
    <a href="/move/make_card" class="btn waves-effect waves-light btn-large"><i class="material-icons left">create</i>Make a card!</a>
  </div>
</div>
