<h1>テストページ</h1>

<div class="container">
  <p>テストテキスト:<%= @text %></p>
  <p>テストテキスト:<%= %></p>

  <table>
    <thead>
      <tr>
          <th></th>
          <th>Item Name</th>
          <th>Item Price</th>
      </tr>
    </thead>

          <tbody>
            <tr><td><p><label><input type="checkbox" /><span></span></label></p></td><td></td><td></td><td></td></tr>
            <tr>
              <td><p><label><input type="checkbox" /><span></span></label></p></td>
              <td>Jellybean</td>
              <td>$3.76</td>
            </tr>
            <tr>
              <td><p><label><input type="checkbox" /><span></span></label></p></td>
              <td>Lollipop</td>
              <td>$7.00</td>
            </tr>
          </tbody>
    </table>
</div>
