@import "materialize";
@import "material_icons";

.js_bridge {
  display: none;
}


h1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h5 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.menu_element_wrapper {
  margin-top: 40px;
  margin-left: 40px;
}

.btn-wrapper {
  text-align:center;
  margin-top: 50px;
}

.study_card {
  height: 163px;
}
